---
import AboutSection from '../components/index/AboutSection.astro'
import AgendaSection from '../components/index/AgendaSection.astro'
import Hero from '../components/index/Hero.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout
  title={`${SITE_TITLE} | Associació Juvenil de Begur | Qui sóm?`}
  description={SITE_DESCRIPTION}
  image="https://barrakudesbegur.github.io/landing/icons/android-chrome-256x256.png"
>
  <Hero />

  <main>
    <AboutSection />
    <AgendaSection />
  </main>
</BaseLayout>
