---
import BaseHead from '../components/BaseHead.astro';
import Footer from "../components/Footer.astro";
import Header from '../components/Header.astro';
import AboutSection from '../components/index/AboutSection.astro';
import AgendaSection from '../components/index/AgendaSection.astro';
import Hero from "../components/index/Hero.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

---

<!DOCTYPE html>
<html lang="ca-ES" class="scroll-smooth">
  <head>
    <BaseHead 
      title={`${SITE_TITLE} | Associació Juvenil de Begur | Qui sóm?`}
      description={SITE_DESCRIPTION}
      image='https://barrakudesbegur.github.io/landing/icons/android-chrome-256x256.png'
    />
  </head>

  <body class="bg-slate-50 text-slate-900">
    <Header />
    
    <Hero />

    <main>
      <AboutSection />
      <AgendaSection />
    </main>

    <Footer />
  </body>
</html>
