<footer
  class="sticky inset-x-0 top-full bg-orange-500 pb-2 pt-2 text-center text-orange-200"
>
  <p class="text-sm">
    Codi font a
    <a href="https://github.com/barrakudesbegur" class="underline">GitHub</a>
  </p>
</footer>
