---
import { SITE_TITLE } from '../consts'
---

<header
  class="sticky top-0 z-50 flex items-center justify-between bg-orange-500 text-orange-50"
>
  <a
    class="inline-block p-4 leading-4 font-semibold focus-visible:underline"
    href="/">{SITE_TITLE}</a
  >
  <nav class="hidden min-[500px]:block">
    <a
      href="#esdeveniments"
      class="inline-block px-2 py-4 leading-4 first:pl-4 last:pr-4 focus-visible:underline"
      >Esdeveniments</a
    >
    <a
      href="/#contacte"
      class="inline-block px-2 py-4 leading-4 first:pl-4 last:pr-4 focus-visible:underline"
      >Contacte</a
    >
    <a
      href="https://www.instagram.com/barrakudesbegur"
      class="inline-block px-2 py-4 leading-4 first:pl-4 last:pr-4 focus-visible:underline"
      target="_blank"
      rel="noopener noreferrer"
    >
      Instagram
    </a>
  </nav>
</header>
