---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../consts'
---

<header
  class="sticky top-0 flex items-center justify-between bg-orange-500 text-orange-50"
>
  <a
    class="inline-block p-4 font-semibold leading-4 focus-visible:underline"
    href="/">{SITE_TITLE}</a
  >
  <nav class="hidden min-[500px]:block">
    <HeaderLink href="/">Inici</HeaderLink>
    <HeaderLink href="/agenda">Agenda</HeaderLink>
    <HeaderLink href="/#about">Qui som?</HeaderLink>
    <HeaderLink
      href="https://www.instagram.com/barrakudesbegur"
      target="_blank"
      rel="noopener noreferrer"
    >
      Instagram
    </HeaderLink>
  </nav>
</header>
