---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="hidden sm:flex justify-between items-center bg-orange-500 text-orange-50 sticky top-0">
	<a class="inline-block p-4 focus-visible:underline font-semibold" href={Astro.site}>{SITE_TITLE}</a>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/agenda">Agenda</HeaderLink>
		<HeaderLink href="/#about">About</HeaderLink>
		<HeaderLink href="https://www.instagram.com/barrakudesbegur" target="_blank" rel="noopener noreferrer">Instagram</HeaderLink>
	</nav>
</header>