body {
  background-color: #ff8201;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  margin: 0;
}

a {
  color: #fff;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  min-height: 100vh;
  min-height: 100dvh;
  text-align: center;
  box-sizing: border-box;
}

.logo {
  width: 100%;
  max-width: 10rem;
  margin-bottom: 1rem;
}

.title {
  margin: 0 0 1rem;
  line-height: 1;
}

.title-title {
  display: block;
  margin-bottom: 0.5rem;
}
.title-description {
  font-size: 1.15rem;
  display: block;
  font-weight: normal;
}

.block {
  margin: 0 auto;
  max-width: 60ch;
  text-align: left;
  margin-top: 2rem;
  background-color: rgba(255, 255, 255, 0.07);
  border: rgba(255, 255, 255, 0.08) 2px solid;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.text {
  line-height: 1.75;
  font-size: 18px;
  margin: 0;
}

.social-network > a {
  text-decoration: none;
}
.icon-instagram {
  vertical-align: middle;
  display: inline-block;
  margin-right: 0.25rem;
}

.subtitle {
  text-align: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.07);
  margin: 0 -1rem 0.5rem;
  padding-bottom: 0.5rem;
}
