---
import { ABOUT_US } from '../../consts'
---

<div class="mx-auto max-w-xl scroll-mt-12 px-4 py-12" id="about">
  <h2
    class="mb-6 text-center font-title text-5xl uppercase leading-none tracking-wide text-orange-500"
  >
    Qui som?
  </h2>
  <p class="text-base">
    {ABOUT_US}
  </p>
  <img
    src="/ninos.svg"
    alt=""
    class="mx-auto mt-4 w-full max-w-sm text-pretty"
  />
</div>
