<div class="mx-auto max-w-xl px-4 py-12 scroll-mt-12" id="about">
  <h2
    class="mb-6 text-center text-4xl font-bold leading-none tracking-tight text-orange-500"
  >
    Qui som?
  </h2>
  <p class="text-base">
    Som un grup de joves de Begur que neix de l'equip de monitors i
    monitores de l'Esplai Autèntic. Durant les experiències del Casal
    d'Estiu i l'Esplai hem format una pinya i ens ha despertat la il·lusió
    i motivació de continuar col·laborant amb les activitats i festivitats
    del poble tal i com ja fem amb les que van destinades a la infància.
    Volem activar la joventut i implicar-nos en la vida del poble, ja
    sigui dinamitzant diferents esdeveniments o barres d'esdeveniments o
    participant en les diverses proeventes que s'hi desenvolupen.
  </p>

  <picture class="mx-auto mt-12 block w-full max-w-sm">
    <source
      srcset="
        explicacio-logo-transparent.png?as=avif&width=384 1x,
        explicacio-logo-transparent.png?as=avif&width=768 2x
      "
      type="image/avif"
    />
    <source
      srcset="
        explicacio-logo-transparent.png?as=webp&width=384 1x,
        explicacio-logo-transparent.png?as=webp&width=768 2x
      "
      type="image/webp"
    />
    <img
      srcset="
        explicacio-logo-transparent.png?width=384 1x,
        explicacio-logo-transparent.png?width=768 2x
      "
      height="257"
      width="384"
      alt="Explicació dels elements del logotip"
    />
  </picture>
</div>
