<div class="mx-auto max-w-xl scroll-mt-12 px-4 py-12" id="about">
  <h2
    class="mb-6 text-center font-title text-5xl uppercase leading-none tracking-wide text-orange-500"
  >
    Qui som?
  </h2>
  <p class="text-base">
    Som un grup de joves de Begur que neix de l'equip de monitors i monitores de
    l'Esplai Autèntic. Durant les experiències del Casal d'Estiu i l'Esplai hem
    format una pinya i ens ha despertat la il·lusió i motivació de continuar
    col·laborant amb les activitats i festivitats del poble tal i com ja fem amb
    les que van destinades a la infància. Volem activar la joventut i
    implicar-nos en la vida del poble, ja sigui dinamitzant diferents
    esdeveniments o barres d'esdeveniments o participant en les diverses
    proeventes que s'hi desenvolupen.
  </p>
</div>
