---
import { getCollection } from 'astro:content'
import EventCard from '../EventCard.astro'
const today = new Date()
today.setHours(0, 0, 0, 0)

const upcomingEvents = (await getCollection('agenda'))
  .filter((event) => event.data.startDate.valueOf() >= today.valueOf())
  .sort((a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf())
---

<div class="scroll-mt-12 bg-brand px-4 py-12 text-white" id="agenda">
  <h2
    class="mb-6 text-center font-title text-5xl uppercase leading-none tracking-wide"
  >
    Agenda
  </h2>

  {
    upcomingEvents.length ? (
      <section>
        <p class="mb-4 mt-8 text-center text-xl leading-none text-white">
          Próxims esdeveniments
        </p>
        <ul class="mx-auto max-w-xl space-y-4">
          {upcomingEvents.map((event) => (
            <li>
              <EventCard event={event} />
            </li>
          ))}
        </ul>
        <div class="mt-8 text-center">
          <a
            href="/agenda"
            class="mx-auto inline-block border-b-2 border-orange-300 text-lg font-semibold leading-none text-white"
          >
            Veure tots
          </a>
        </div>
      </section>
    ) : (
      <section class="mx-auto max-w-xl pb-12 pt-16 text-center text-base">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="mx-auto mb-8 w-12"
          viewBox="0 0 24 24"
          stroke-width="1"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M9 5h9a2 2 0 0 1 2 2v9m-.184 3.839a2 2 0 0 1 -1.816 1.161h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 1.158 -1.815" />
          <path d="M16 3v4" />
          <path d="M8 3v1" />
          <path d="M4 11h7m4 0h5" />
          <path d="M3 3l18 18" />
        </svg>

        <p class="text-xl font-bold leading-none text-white">
          Cap esdeveniment programat
        </p>
        <p class="mt-2 text-sm text-orange-100">
          Estigues atent/a a les nostres xarxes socials!
        </p>

        <div class="mt-12 text-center">
          <a
            href="/agenda"
            class="mx-auto inline-block border-b-2 border-orange-300 text-lg font-semibold leading-none text-white"
          >
            Veure esdeveniments passats
          </a>
        </div>
      </section>
    )
  }
</div>
