---
import { Icon } from 'astro-icon/components'
---

<div class="mx-auto max-w-xl scroll-mt-12 px-4 py-12 pt-0" id="contacte">
  <h2
    class="font-title mb-6 text-center text-5xl leading-none tracking-wide text-orange-500 uppercase"
  >
    Contacte
  </h2>
  <p class="text-base">
    Si tens qualsevol dubte o vols més informació, no dubtis en contactar-nos.
    Estarem encantats d'atendre't.
  </p>

  <div class="mt-8 flex flex-col items-center justify-center space-y-4">
    <a
      href="mailto:hola@barrakudesbegur.org"
      class="bg-brand flex items-center gap-2 rounded-full px-4 py-2 text-white shadow-md hover:bg-orange-500"
    >
      <Icon name="tabler:mail" class="size-6" />
      <span>hola@barrakudesbegur.org</span>
    </a>
    <a
      href="https://www.instagram.com/barrakudesbegur/"
      class="bg-brand flex items-center gap-2 rounded-full px-4 py-2 text-white shadow-md hover:bg-orange-500"
    >
      <Icon name="tabler:brand-instagram" class="size-6" />
      <span>@barrakudesbegur</span>
    </a>
    <a
      href="https://github.com/barrakudesbegur"
      class="flex items-center gap-2 rounded-full px-4 py-2 text-stone-500 hover:bg-gray-100"
    >
      <Icon name="tabler:brand-github" class="size-6" />
      <span>barrakudesbegur</span>
    </a>
  </div>
</div>
