<header
  class="flex min-h-[80vh] flex-col items-center justify-center bg-brand text-white"
>
  <img
    src="logo-transparent-blanc.svg"
    height="1024"
    width="1024"
    alt="Barrakudes logo"
    class="mb-6 block w-full max-w-[320px]"
  />
  <h1 class="mb-4 text-center leading-none">
    <span class="block text-5xl font-title uppercase tracking-wide">Barrakudes de Begur</span>
    <span class="block text-2xl tracking-tight">Associació Juvenil</span>
  </h1>

  <div class="flex items-center">
    <svg
      class="mr-1"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
      aria-label="Instagram"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path
        d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
      ></path>
      <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
      <path d="M16.5 7.5l0 .01"></path></svg
    ><a href="https://www.instagram.com/barrakudesbegur/" class="underline"
      >@barrakudesbegur</a
    >
  </div>
</header>
