<header
  class="flex min-h-[80vh] flex-col items-center justify-center bg-brand text-white"
>
  <picture class="mb-2 block w-full max-w-[160px]">
    <source
      srcset="
        logo-filled.png?as=avif&width=160 1x,
        logo-filled.png?as=avif&width=320 2x
      "
      type="image/avif"
    />
    <source
      srcset="
        logo-filled.png?as=webp&width=160 1x,
        logo-filled.png?as=webp&width=320 2x
      "
      type="image/webp"
    />
    <img
      srcset="
        logo-filled.png?width=160 1x,
        logo-filled.png?width=320 2x
      "
      height="160"
      width="160"
      alt="Barrakudes logo"
    />
  </picture>
  <h1 class="mb-4 text-center leading-none tracking-tight">
    <span class="block text-3xl font-bold">Barrakudes de Begur</span>
    <span class="block text-xl">Associació Juvenil</span>
  </h1>

  <div class="flex items-center">
    <svg
      class="mr-1"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
      aria-label="Instagram"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path
        d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
      ></path>
      <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
      <path d="M16.5 7.5l0 .01"></path></svg
    ><a href="https://www.instagram.com/barrakudesbegur/" class="underline"
      >@barrakudesbegur</a
    >
  </div>
</header>
