---
import BaseHead from '../components/BaseHead.astro';
import type {Props as BaseHeadProps} from '../components/BaseHead.astro';
import Footer from "../components/Footer.astro";
import Header from '../components/Header.astro';

type Props = BaseHeadProps & {class?:string}

const {class: classList, ...props} = Astro.props

---

<!DOCTYPE html>
<html lang="ca-ES" class="scroll-smooth">
  <head>
    <BaseHead {...props} />
  </head>

  <body class:list={["bg-slate-50 text-slate-900 min-h-[100vh]", classList]}>
    <Header />
    
    <slot />

    <Footer />
  </body>
</html>
